@keyframes newStep {
    0% {
        position: relative;
        bottom: 10px;
        opacity: 0%;
    }
    
    100%{
        position: relative;
        bottom: 0;
        opacity: 100%;
    }
}

.charaCreation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    overflow-y: auto;

    .steps {
        height: max-content;
    }

    .step {
        animation: newStep 500ms ease-in-out;
        display: flex;
        flex-direction: column;
        height: 100%;

        .title {
            position: sticky;
            width: 35rem;
            top: 0;
            z-index: 1;
            backdrop-filter: blur(5px);
            background-color: rgba(9, 2, 14, 0.6);
            margin-bottom: 1rem;

            h1 {
                font-size: 3rem;
                margin-block: 0;
            }
        }

    }

    .pageControll {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        width: 100%;

        button {
            cursor: pointer;
            color: white;
            padding: 1rem;
            border: 2px solid antiquewhite;
            background: transparent;
            font-size: large;
            display: flex;
            align-items: center;
        }

        .previous {
            border-radius: 1rem 0rem 0rem 1rem;
        }
        .previous:disabled {
            color: grey;
            border: 2px solid  grey;
            border-right: none;
        }

        .next {
            border-radius: 0rem 1rem 1rem 0rem;
            background-color: antiquewhite;
            color: black;
            font-weight: 600;
        }
    }
}

// Scroll

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}