.cabeçalho  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    border-bottom: 1px solid blueviolet;
    min-width: 100vw;
    text-align: center;
    background-color: rgba(36, 5, 24, 0.26);
    box-shadow: 1px 1px 100px -30px blueviolet;
    padding: 1rem;

    h1  {
        font-size: 3rem;
        margin-block: 0rem;
    }

    .logo   {
        text-decoration: none;
        color: white;
    }

    .ornamentedLine {
        width: 15rem;
    }

    .userIcon   {
        cursor: pointer;
        position: absolute;
        right: 20px;
        width: 3.5rem;
        height: 3.5rem;
    }
}