.step1  {
    input   {
        color: white;
        background-color: transparent;
        transition: 300ms;
        padding: 0.5rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid white;
    }
    
    input:focus {
        // outline: rgba(78, 45, 78, 0.73);
        box-shadow: 0px 0px 20px 0px white;
    }

    input::placeholder  {
        color: white;
    }

}